.title {
    font: 16px sans-serif;
    stroke: #000;
}

.bar--positive {
    fill: steelblue;
}

.bar--negative {
    fill: darkorange;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}